<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Scroller</title>
      <style>
        html, body {
          overflow: hidden;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #renderCanvas {
          width: 100%;
          height: 100%;
          touch-action: none;
        }
    </style>
    <script src="babylon.max.js"></script>
    <script src="babylon.gui.js"></script>
   </head>
   <body>
        <canvas id="renderCanvas"></canvas>
       <script>
    if (BABYLON.Engine.isSupported()) {
      var canvas = document.getElementById("renderCanvas");
      var engine = new BABYLON.Engine(canvas, true);
  
var createScene = function () {

// This creates a basic Babylon Scene object (non-mesh)
var scene = new BABYLON.Scene(engine);

// This creates and positions a free camera (non-mesh)
var camera = new BABYLON.FreeCamera("camera1", new BABYLON.Vector3(0, 5, -10), scene);

// This targets the camera to scene origin
camera.setTarget(BABYLON.Vector3.Zero());

// This attaches the camera to the canvas
camera.attachControl(canvas, true);

// This creates a light, aiming 0,1,0 - to the sky (non-mesh)
var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);

// Default intensity is 1. Let's dim the light a small amount
light.intensity = 0.7;

// Our built-in 'sphere' shape. Params: name, subdivs, size, scene
var sphere = BABYLON.Mesh.CreateSphere("sphere1", 16, 2, scene);

// Move the sphere upward 1/2 its height
sphere.position.y = 1;

// Our built-in 'ground' shape. Params: name, width, depth, subdivs, scene
var ground = BABYLON.Mesh.CreateGround("ground1", 6, 6, 2, scene);

var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");

console.log("ADVANCED", advancedTexture._canvas.width, advancedTexture._canvas.height);

var sv = new BABYLON.GUI.ScrollViewer(null, true);
sv.width = 0.4;
sv.height = 0.4;
sv.background = "#CCCCCC";

advancedTexture.addControl(sv);

var rc = new BABYLON.GUI.Rectangle();
rc.thickness = 10;
rc.width = 2;
rc.height = 2;
rc.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
rc.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
rc.color = "red";
rc.background = "yellow";

sv.addControl(rc);

var image = new BABYLON.GUI.Image("but", "https://www.babylonjs-playground.com/textures/Logo.png");
image.width = 0.4;
image.height = 0.4;
rc.addControl(image); 

sv.thumbImage = new BABYLON.GUI.Image("a", "https://i.imgur.com/kDTplHW.png");

sv.barImage = new BABYLON.GUI.Image("b", "https://i.imgur.com/kDTplHW.png");

sv.thumbLength = 0.1;
sv.thumbHeight = 0.7;
sv.barImageHeight = 0.3;
sv.barSize = 20;
sv.scrollBackground = "blue";
sv.barBackground = "red";

return scene;

};


  
  var scene = createScene();
  
  engine.runRenderLoop(function () {
    scene.render();
  
  });
  
  window.addEventListener("resize", function () {
      engine.resize();
  });
          }
      </script>
  </body>
  </html>