<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Scroller</title>
      <style>
        html, body {
          overflow: hidden;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #renderCanvas {
          width: 100%;
          height: 100%;
          touch-action: none;
        }
    </style>
    <script src="babylon.max.js"></script>
    <script src="babylon.gui.js"></script>
   </head>
   <body>
        <canvas id="renderCanvas"></canvas>
       <script>
    if (BABYLON.Engine.isSupported()) {
      var canvas = document.getElementById("renderCanvas");
      var engine = new BABYLON.Engine(canvas, true);
  
      var createScene = function() {
    var scene = new BABYLON.Scene(engine);

    //Adding a light
    var light = new BABYLON.PointLight("Omni", new BABYLON.Vector3(20, 20, 100), scene);

    //Adding an Arc Rotate Camera
    var camera = new BABYLON.ArcRotateCamera("Camera", 0, 0.8, 100, BABYLON.Vector3.Zero(), scene);
    camera.attachControl(canvas, false);

    // GUI
    var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");

    var grid = new BABYLON.GUI.Grid();
    advancedTexture.addControl(grid);

    grid.addColumnDefinition(0.25);
    grid.addColumnDefinition(0.25);
    grid.addColumnDefinition(0.25);
    grid.addColumnDefinition(0.25);
    grid.addRowDefinition(0.25);
    grid.addRowDefinition(0.25);
    grid.addRowDefinition(0.25);
    grid.addRowDefinition(0.25);

    var addImageSlider = function(isVertical, isClamped, displayThumb, row, col) {
        var panel = new BABYLON.GUI.StackPanel();
        panel.width = "220px";
        grid.addControl(panel, row, col);

        var header = new BABYLON.GUI.TextBlock();
        header.text = "Rotation: 0 deg";
        header.height = "30px";
        header.color = "white";
        panel.addControl(header);

        var slider = new BABYLON.GUI.ImageBasedSlider();
        slider.minimum = 0;
        slider.maximum = 2 * Math.PI;
        slider.isVertical = isVertical;
        slider.isThumbClamped = isClamped;
        slider.displayThumb = displayThumb;
        if (isVertical) {
            slider.width = "22px";
            slider.height = "200px";
        } else {
            slider.height = "22px";
            slider.width = "200px";
        }

        if (!isVertical) {
            slider.backgroundImage = new BABYLON.GUI.Image("back", "https://www.babylonjs-playground.com/textures/gui/backgroundImage.png");
            slider.valueBarImage = new BABYLON.GUI.Image("value", "https://www.babylonjs-playground.com/textures/gui/valueImage.png");
        }
        else {
            slider.backgroundImage = new BABYLON.GUI.Image("back", "https://www.babylonjs-playground.com/textures/gui/backgroundImage-vertical.png");
            slider.valueBarImage = new BABYLON.GUI.Image("value", "https://www.babylonjs-playground.com/textures/gui/valueImage-vertical.png");
        }
        slider.thumbImage = new BABYLON.GUI.Image("thumb", "https://www.babylonjs-playground.com/textures/gui/thumb.png");

        slider.onValueChangedObservable.add(function(value) {
            header.text = "Rotation: " + (BABYLON.Tools.ToDegrees(value) | 0) + " deg";
        });

        slider.value = Math.PI + Math.random() * Math.PI;
        panel.addControl(slider);
    }
    
    addImageSlider(false, true, true, 0, 2);
    addImageSlider(true, true, true, 1, 2);


    return scene;
}
  
  var scene = createScene();
  
  engine.runRenderLoop(function () {
    scene.render();
  
  });
  
  window.addEventListener("resize", function () {
      engine.resize();
  });
          }
      </script>
  </body>
  </html>